/* philosopher-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/philosopher-v19-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-italic - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/philosopher-v19-cyrillic_latin-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/philosopher-v19-cyrillic_latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-700italic - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/philosopher-v19-cyrillic_latin-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v13-cyrillic_latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: gray;
  --tex-color: white;
  --tex-color-2: #4B4B4B;
  --primary-color: #F3F1EC;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

.flex {
  display: flex;
  justify-content: space-between;
  z-index: 10f;
}

body {
  background-color: var(--primary-color);
}

.block {
  position: absolute;
  align-items: center;
  padding-top: 3rem;
  top: 0px;
  left: 0;
  right: 0;
}

.whitetextsection,
.frm_bck {
  height: 65.1rem;
  background-image: url(../img/background_1.jpeg);
  background-color: #9EAF7C;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.head_logo {
  width: 11.3rem;
  height: 4.5rem;
}

.head_menu-btn {
  width: 100%;
  height: 100%;
}

.head_menu {
  padding-left: 10rem;
  width: 100%;
  height: 100%;
}

.head_btn-vsbl {
  display: block;
}

.head_btn {
  background: transparent;
  border: none;
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
}

.container,
.faq_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.intro_section-cor {
  padding-top: 12.6rem;
}

.intro_ttl1 {
  font-size: calc(3.4rem + 1vw);
  font-weight: 300;
  font-family: inter, sans-serif;
  text-align: left;
  color: var(--tex-color);
  margin: 0;
}

.intro_ttl2 {
  font-size: calc(4rem + 1vw);
  font-family: Philosopher, serif;
  color: var(--tex-color);
  font-style: italic;
  margin: 0;
}

.intro_ttl3 {
  font-size: calc(3.4rem+1vw);
  font-weight: 300;
  font-family: inter, sans-serif;
  text-align: left;
  color: var(--tex-color);
  margin: auto;
  margin-left: 2rem;

}

.btn,
.faq_btn {
  background-color: #9EAF7C;
  margin: 3rem auto;
  display: block;
  border-radius: 1rem;
  text-decoration: none;
  width: 30rem;
  height: 5.8rem;
  text-align: center;
  border: none;
  margin: 4.1rem auto;
  padding: 2rem;
  cursor: pointer;
}

.btn_txt {
  font-size: 1.6rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: var(--tex-color);
  font-weight: 400;
  text-decoration: none;
}

.intr_ul {
  font-size: 1.8em;
  font-family: inter, sans-serif;
  font-weight: 300;
  color: var(--tex-color);
  list-style-type: none;
  margin: 0 auto;
}

.intr_li {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 1rem;
  margin: 5rem;
  margin-left: 0;
  margin-bottom: 3.9rem;
  width: 100%;
}

.li_txt {
  margin: 0;
  width: 100%;
  align-self: center;
}

.li_img-dos,
.li_img-cot,
.li_img-shi {
  position: absolute;
  left: 1.3rem;
  top: 1.2rem
}

.intr_base-img,
.frm_top-img {
  display: flex;
  position: relative;
  top: 1px;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

.ttl {
  font-size: 3.8rem;
  font-family: Philosopher, serif;
  font-weight: 400;
  text-align: left;
  color: var(--tex-color-2);
  font-style: italic;
}


.info_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  list-style-type: none;
  padding: 0;

}

.info_li {
  position: relative;
}

.info_img {
  width: 100%;
  object-fit: cover;
  border-radius: 2.3rem;
  margin-top: 3.5rem;
}

.info_cont {
  position: relative;
}

.info_elip {
  position: absolute;
  top: 5rem;
}

.info_txt-gr {
  color: #9EAF7C;
  font-size: calc(7rem + 1vw);
  text-align: center;
  font-family: Philosopher, serif;
  font-weight: 700;
  margin: 5.3rem 0px 0px;
}

.info_txt-bl {
  font-size: calc(1.8rem + 1vw);
  font-family: inter, sans-serif;
  font-weight: 300;
  text-align: center;
  color: var(--tex-color-2);
  margin: auto
}

.info_txt-s {
  font-size: calc(3rem + 1vw);
  font-family: Philosopher, serif;
  font-weight: 700;
  text-align: center;
  color: #9EAF7C;
  margin: 5.3rem 0px 0px;
}

.product_li,
.product_li-index {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 2rem;
  gap: 2.4rem;
  box-shadow: 1rem 1rem 1rem #09090918;
  margin-bottom: 10rem;
}

.product_li-index {
  z-index: 1;
  background-color: rgba(255, 252, 249, 0.881);
}

.product_about {
  margin: 1.8rem 0.5rem 3.1rem 0;
}

.product_img {
  width: 3.3rem;
  height: 3.3rem;
  margin: 1rem 0 0 1rem;
}

.product_bench,
.product_bench2 {
  display: block;
  position: absolute;
  top: 0rem;
  left:

}

.product_bench2 {
  top: 12rem;
  left: -7rem
}

.product_bench {
  position: absolute;
  top: 17rem;
  overflow: hidden;
}

.product_ttl {
  font-size: 2.6rem;
  font-family: Philosopher, serif;
  font-weight: 700;
  text-align: center;
  color: var(--tex-color-2);
  margin: 0;
  text-align: left;
  width: 20rem;
}

.product_p,
.faq_p {
  font-size: 1.6rem;
  font-family: inter, sans-serif;
  color: var(--tex-color-2);
  font-weight: 400;
  margin: 0;
}


.product_p-f {
  font-size: 1.6rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: var(--tex-color-2);
  font-weight: 600;
}

.cat_grd {
  display: grid;
  padding: 0;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.cat_grd-b {
  grid-column: span 2;
}

.cat_li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1.39rem;
}

.cat_img {
  border-radius: 3rem;
}

.cat_p {
  font-size: calc(1.6rem + 1vw);
  font-family: Philosopher, serif;
  color: var(--tex-color-2);
  font-weight: 700;
}

.cli_crd {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  border-radius: 2rem;
}

.cli_crd-p {
  margin: 0.5rem 2rem;
}

.cli_crd-img {
  padding: 1rem 3rem 0;
}

.fb_ttl1 {
  font-size: 3.2rem;
  font-family: Philosopher, sans-serif;
  color: var(--tex-color);
  font-weight: 300;
  padding-top: 5rem;
  margin: 0;
}

.fb_ttl2 {
  font-size: 2.4rem;
  font-family: inter, sans-serif;
  color: var(--tex-color);
  font-weight: 300;
  margin: 1.4rem 0 0;
}

.fb_ttl3 {
  font-size: 3.2rem;
  font-family: Philosoper, serif;
  color: var(--tex-color);
  font-weight: 400;
  font-style: italic;
  margin: 0.8rem 0 4.8rem;
}

.frm_top-img {
  transform: none;

}

.frm {
  font-size: 1.4rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: var(--tex-color);
  font-weight: 400;
  margin: 2rem;
}

.frm_name {
  background-color: white;
  border-radius: 6rem;
  border-style: none;
  height: 4.8rem;
  width: 100%;
  padding: 0 2.1rem;
  margin-bottom: 2rem;
}

.frm_com {
  background-color: white;
  border-radius: 2rem;
  border-style: none;
  height: 11rem;
  width: 100%;
  padding: 2rem;
}

.frm_bck {
  background-image: url(../img/background_2.jpg);

}

.frm_p-wh {
  font-size: 1rem;
  font-family: inter, sans-serif;
  color: var(--tex-color);
  font-weight: 400;
  text-align: left;
  padding: 0.5rem;
  margin: 0;
}

.frm_p-gr {
  font-size: 1rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: #9EAF7C;
  font-weight: 400;
}

.faq_sec {
  display: flex;
  flex-direction: column;
}

.faq_ttl-align {
  margin: 1.7rem;
}

.faq_ttl,
.rev_ttl {
  font-size: 2.8rem;
  font-family: Philosopher, serif;
  color: var(--tex-color-2);
  font-weight: 700;
  margin: 1.7rem;
  margin-top: 3rem;
}

.faq_li {
  background-color: var(--tex-color);
  border-radius: 2rem;
  width: 30.1rem;
  height: 40.6rem;
  column-gap: 200px;
  list-style: none;
  margin-bottom: 3.5rem;
}

.faq_p {
  margin: 1.7rem;
}

.faq_wave {
  display: block;
  margin: 0 1.5rem;
}

.faq_img-align {
  display: block;
  margin: 4.8rem 10rem;
}

.faq_btn {
  margin-top: 0;
}

.faq_container {
  flex-direction: column;
  align-items: center;
}

.rev_ttl {
  padding: 0;
  margin: 0;
  width: 127px;
  height: 58px;
}

.cat_ul-s {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rev_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.rev_li-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tex-color);
  width: 30rem;
  border-radius: 2rem;
  margin: 0 0 1.8rem 0;
}

.rev_cont {
  display: flex;
  align-self: start;
  gap: 2.4rem;
  margin: 1.8rem 4.2rem 2.9rem 1.8rem;
}

.rev_img {
  width: 8rem;
  height: 8rem;
}

.rev_p {
  font-size: 1.4rem;
  font-family: inter, sans-serif;
  color: var(--tex-color-2);
  font-weight: 400;
  margin: 2.5rem 0.3rem 4rem 2.8rem;
}

.con_map {
  width: 100%;
  height: 100%;
  margin: 3.7rem 0 0;
  padding: 0;
}

.contacts {
  font-size: calc(1.6rem + 0.05vh);
  font-family: Philosopher, serif;
  color: var(--tex-color);
  font-weight: 400;
  margin-bottom: 0;
  text-decoration: none;
  padding: 3rem 0 7rem;
}

.con_a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.con_p {
  margin-bottom: 0;
}

.con_mapp {
  background-image: url(../img/map.png);
  width: 100%;
  height: 20rem;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.con_mapp {
  background-image: url(../img/map.png);
  width: 100%;
  height: 20rem;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.con_bck {
  background-color: #9EAF7C;
  width: 100%;
  height: 100%;
}

.textarea {
  resize: none;
}

.head_menu {
  display: none;
}

.product_slameiki {
  display: none;
  z-index: -1;
  right: 1rem;
  top: 15rem;
  position: absolute;
}

.btn_hide {
  display: none;
}

.head_up {
  display: none;
}

.cli_fig {
  display: none;
}

@media screen and (min-width:800px) and (max-width:1400px) {
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
  }

  .head_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
  }

  .head_up {
    display: flex;
    width: auto;
    align-items: baseline;
    justify-content: right;
    margin: 1rem 0 1rem 9rem;
  }

  .head_social {
    align-self: end;
  }

  .head_txt-adr,
  .head_txt-up {
    color: #FFF;
    font-family: inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1rem;
    background-color: inherit;
  }

  .head_txt-ph {
    color: #FFF;
    text-align: right;
    font-family: philosopher, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    border: #9EAF7C;
    border-style: solid;
    border-radius: 10rem;
    border-width: 1.5px;

  }

  .head_txt {
    color: #FFF;
    font-family: inter, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    background-color: inherit;
    border: none;
  }

  .head_btn-vs {
    background: transparent;
    border: none;
  }

  .head_btn {
    display: none;
  }

  .container {
    margin-top: 8rem;
    flex-direction: column;
  }

  .ttl1_img {
    align-self: flex-start;
  }

  .intro_ttl2 {
    font-size: 8rem;
  }

  .intro_ttl3 {
    font-size: 5rem;
    margin: 0 0 0 16.5rem;
  }

  .btn {
    display: block;
    width: 56rem;
    margin-left: 0;
  }

  .intr_ul {
    font-size: 2.6em;
  }

  .intr_ul-cont {
    display: flex;
    padding: 0;
  }

  .info_img {
    overflow: hidden;
    width: 50rem;
    object-fit: contain;
    flex-shrink: 3;
    border-radius: 2.3rem;
    margin-top: 3.5rem;
  }

  .info_sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 3.8rem;
    
  }

  .ttl {
    font-size: 8rem;
    margin: 0;
  }

  .info_elip {
    padding-left: 10rem;
  }

  .product_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    list-style-type: none;
    justify-content: space-around;
    margin-bottom: 10rem;
  }

  .product_bench,
  .product_bench2 {
    display: none;
  }

  .product_slameiki {
    display: block;
    z-index: -1;
    right: 1rem;
    top: 15rem;
    position: absolute;
  }

  .product_li {
    display: flex;
    background-color: white;
    border-radius: 2rem;
    gap: 2.4rem;
    box-shadow: 1rem 1rem 1rem #09090918;
    margin-bottom: 10rem;
    width: 40rem;
    height: 18rem;

  }

  .product_natur {
    margin-top: 5rem;
  }

  .product_obra {
    z-index: -2;
    margin-right: 5rem;
  }

  .product_btn {
    display: none;
    margin: 30rem 0 0 0;
    z-index: 1;
    width: 30rem;
  }

  .ttl {
    margin-top: 6rem;
  }

  .product_akril {

    align-self: flex-end;
    margin: 0 0 0 0rem;

  }

  .cat_img {
    object-fit: fill;
  }

  .cat_grd {
    display: grid;
    padding: 0;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin-bottom: 0;
    justify-content: center;

  }

  .cat_grd-b {
    grid-column: span 1;
  }

  .fb_ttl1 {
    font-size: 5rem;
  }

  .fb_ttl2 {
    font-size: 4.2rem
  }

  .fb_ttl3 {
    font-size: 8rem
  }

  .frm {
    padding-right: 50rem;
  }

  .btn_fb {
    width: 50rem;
  }

  .fb_img {
    width: 45rem;
  }

  .img_hide {
    display: none;
  }

  .btn_cat {
    background-color: #9EAF7C;
    display: block;
    border-radius: 1rem;
    text-decoration: none;
    height: 5.8rem;
    text-align: center;
    border: none;
    margin: 0 auto 4.1rem auto;
    padding: 2rem;
    cursor: pointer;
    width: 56rem;
  }

  .faq_container {
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 5rem;
  }

  .faq_ttl {
    font-size: 3.5rem;
  }

  .faq_li {
    height: 45rem;
  }

  .faq_p {
    font-size: 2rem;
  }

  .rev_ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem 5rem;
  }

  .rev_li-flex {
    height: 50rem;
  }

  .cli_grd {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 0;
    gap: 4rem;
    margin-bottom: 4rem;
  }

  .cli_fig {
    display: block;
    width: 10rem;
    margin: 0 auto 6rem auto;
  }

  .cli_scroll {
    margin: 0.6rem;
  }

  .con_mapp {
    display: none;
  }

  .con_map-big {
    position: relative;
    background-image: url(../img/map.png);
    width: 100%;
    height: 65rem;
    z-index: -1;
    background-position: center;
    background-size: cover;
  }

  .contacts {
    padding: 0;
  }

  .con_bck {
    display: block;
    position: absolute;
    background-color: #9EAF7C;
    width: 62rem;
    height: 50rem;
    margin: 7rem auto 5rem 14rem;
  }

  .con_ul {
    padding: 6rem 5rem 9rem 5rem;
  }

}

@media screen and (min-width:1400px) {
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
  }

  .head_menu {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  .head_up {
    display: flex;
    width: auto;
    align-items: baseline;
    justify-content: right;
    margin: 1rem 0 1rem 59rem;
  }

  .head_social {
    align-self: end;
  }

  .head_txt-adr,
  .head_txt-up {
    color: #FFF;
    font-family: inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1rem;
    background-color: inherit;
  }

  .head_txt-ph {
    color: #FFF;
    text-align: right;
    font-family: philosopher, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    border: #9EAF7C;
    border-style: solid;
    border-radius: 10rem;
    border-width: 1.5px;

  }

  .head_txt {
    color: #FFF;
    font-family: inter, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    background-color: inherit;
    border: none;
  }

  .head_btn-vs {
    background: transparent;
    border: none;
  }

  .head_btn {
    display: none;
  }

  .container {
    margin-top: 8rem;
    flex-direction: column;
  }

  .ttl1_img {
    align-self: flex-start;
  }

  .intro_ttl2 {
    font-size: 8rem;
  }

  .intro_ttl3 {
    font-size: 5rem;
    margin: 0 0 0 16.5rem;
  }

  .btn {
    display: block;
    width: 56rem;
    margin-left: 0;
  }

  .intr_ul {
    font-size: 2.6em;
  }

  .intr_ul-cont {
    display: flex;
    justify-items: ;
    padding: 0;
  }

  .info_sec {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 3.8rem;
  }

  .ttl {
    font-size: 8rem;
    margin: 0;
  }

  .info_elip {
    padding-left: 10rem;
  }

  .product_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    list-style-type: none;
  }

  .product_bench,
  .product_bench2 {
    display: none;
  }

  .product_slameiki {
    display: block;
    z-index: -1;
    right: 1rem;
    top: 15rem;
    position: absolute;
  }

  .product_li {
    display: flex;
    background-color: white;
    border-radius: 2rem;
    gap: 2.4rem;
    box-shadow: 1rem 1rem 1rem #09090918;
    margin-bottom: 10rem;
    width: 46rem;
    height: 18rem;
  }

  .product_natur {
    margin-top: 5rem;
  }

  .product_obra {
    z-index: -2;
    margin-right: 24rem;
  }

  .product_btn {
    margin: 30rem 0 0 0;
    z-index: 1;
  }

  .ttl {
    margin-top: 6rem;
  }

  .product_akril {
    align-self: flex-end;
    margin: 0 0 0 5rem;

  }

  .cat_img {
    object-fit: fill;
  }

  .cat_grd {
    display: grid;
    padding: 0;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-bottom: 0;

  }

  .cat_grd-b {
    grid-column: span 1;
  }

  .fb_ttl1 {
    font-size: 5rem;
  }

  .fb_ttl2 {
    font-size: 4.2rem
  }

  .fb_ttl3 {
    font-size: 8rem
  }

  .frm {
    padding-right: 80rem;
  }

  .btn_fb {
    width: 50rem;
  }

  .fb_img {
    width: 45rem;
  }

  .img_hide {
    display: none;
  }

  .btn_cat {
    background-color: #9EAF7C;
    display: block;
    border-radius: 1rem;
    text-decoration: none;
    height: 5.8rem;
    text-align: center;
    border: none;
    margin: 0 auto 4.1rem auto;
    padding: 2rem;
    cursor: pointer;
    width: 56rem;
  }

  .faq_container {
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 5rem;
  }

  .faq_ttl {
    font-size: 3.5rem;
  }

  .faq_li {
    height: 45rem;
  }

  .faq_p {
    font-size: 2rem;
  }

  .rev_ul {
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 5rem;
  }

  .rev_li-flex {
    height: 50rem;
  }

  .cli_grd {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 0;
    gap: 4rem;
    margin-bottom: 4rem;
  }

  .cli_fig {
    display: block;
    width: 10rem;
    margin: 0 auto 6rem auto;
  }

  .cli_scroll {
    margin: 0.6rem;
  }

  .con_mapp {
    display: none;
  }

  .con_map-big {
    position: relative;
    background-image: url(../img/map.png);
    width: 100%;
    height: 65rem;
    z-index: -1;
    background-position: center;
    background-size: cover;
  }

  .contacts {
    padding: 0;
  }

  .con_bck {
    display: block;
    position: absolute;
    background-color: #9EAF7C;
    width: 62rem;
    height: 50rem;
    margin: 7rem auto 5rem 14rem;
  }

  .con_ul {
    z-index: 1;
    padding: 6rem 5rem 9rem 5rem;
  }

}