/* philosopher-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/philosopher-v19-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-italic - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/philosopher-v19-cyrillic_latin-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/philosopher-v19-cyrillic_latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-700italic - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/philosopher-v19-cyrillic_latin-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v13-cyrillic_latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: gray;
  --tex-color: white;
  --tex-color-2: #4B4B4B;
  --primary-color: #F3F1EC;
  font-size: 62.5%;
}

.wrapper {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: var(--primary-color);
}

.block {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.whitetextsection {
  height: 65.1rem;
  background-image: url("/img/559bb388d739db9c58bf1a58ea9d6084.png");
  background-color: #9EAF7C;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.head_logo {
  width: 11.3rem;
  height: 4.5rem;
  margin-top: 2.1rem;
  margin-bottom: 6rem;
}

.head_menu {
  width: 4.5rem;
  height: 4.5rem;
}

.head_btn {
  background: transparent;
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  margin-top: 2.1rem;
  margin-bottom: 6rem;

}

.container,
.faq_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.intro_section-cor {
  padding-top: 12.6rem;
}

.intro_ttl1 {
  font-size: 3.4rem;
  font-weight: 300;
  font-family: inter, sans-serif;
  text-align: left;
  color: var(--tex-color);
  margin: 0;
}

.intro_ttl2 {
  font-size: 4rem;
  font-family: Philosopher, serif;
  color: var(--tex-color);
  font-style: italic;
  margin: 0;
}

.intro_ttl3 {
  font-size: 3.4rem;
  font-weight: 300;
  font-family: inter, sans-serif;
  text-align: left;
  color: var(--tex-color);
  margin: auto;
  margin-left: 2rem;
  width: 300px;
}

.btn,
.faq_btn {
  background-color: #9EAF7C;
  margin: 3rem auto;
  display: block;
  border-radius: 1rem;
  text-decoration: none;
  width: 30rem;
  height: 5.8rem;
  text-align: center;
  border: none;
  margin: 4.1rem auto;
  padding: 2rem;
}

.btn_txt {
  font-size: 1.6rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: var(--tex-color);
  font-weight: 400;
  text-decoration: none;
}

.intr_ul {
  font-size: 1.8rem;
  font-family: inter, sans-serif;
  font-weight: 300;
  color: var(--tex-color);
  list-style-type: none;
  margin: 0 auto;
}

.intr_li {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 1rem;
  margin: 5rem;
  margin-left: 0;
  margin-bottom: 3.9rem;
  width: 100%;
}

.li_txt {
  margin: 0;
  width: 100%;
  align-self: center;
}

.li_img-dos,
.li_img-cot,
.li_img-shi {
  position: absolute;
  left: 1.3rem;
  top: 1.2rem
}

.intr_base-img {
  display: flex;
  position: relative;
  top: 1px;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

.ttl {
  font-size: 3.8rem;
  font-family: Philosopher, serif;
  font-weight: 400;
  text-align: left;
  color: var(--tex-color-2);
  font-style: italic;
}

.info_ul {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style-type: none;
  padding: 0;
}

.info_img {
  display: flex;
  width: 300px;
  height: 360px;
  margin-top: 3.5rem;
}

.info_cont {
  position: relative;
}

.info_elip {
  position: absolute;
  top: 5rem;
}

.info_txt-gr {
  color: #9EAF7C;
  font-size: 7rem;
  text-align: center;
  font-family: Philosopher, serif;
  font-weight: 700;
  margin: 5.3rem 0px 0px;
}

.info_txt-bl {
  font-size: 1.8rem;
  font-family: inter, sans-serif;
  font-weight: 300;
  text-align: center;
  color: var(--tex-color-2);
  margin: auto
}

.info_txt-s {
  font-size: 3rem;
  font-family: Philosopher, serif;
  font-weight: 700;
  text-align: center;
  color: #9EAF7C;
  margin: 5.3rem 0px 0px;
}

.product_li,
.product_li-index {
  display: flex;
  background-color: white;
  border-radius: 2rem;
  gap: 2.4rem;
  box-shadow: 1rem 1rem 1rem #09090918;
  margin-bottom: 10rem;
}

.product_li-index {
  z-index: 5;
  background-color: rgba(255, 252, 249, 0.881);
}

.product_flex {
  display: flex;
  flex-direction: column;
  margin: 1.8rem 0.5rem 3.1rem 0;
}

.product_img {
  width: 3.3rem;
  height: 3.3rem;
  margin: 1rem 0 0 1rem;
}

.product_bench,
.product_bench2 {
  position: absolute;
  top: 14rem;
  left: 4.5rem;
}

.product_bench2 {
  top: 40rem;
  left: -4.5rem;
}

.product_bench {
  position: absolute;
  top: 14rem;
}

.product_ttl {
  font-size: 2.6rem;
  font-family: Philosopher, serif;
  font-weight: 700;
  text-align: center;
  color: var(--tex-color-2);
  margin: 0;
  width: 2rem;
}

.product_p,
.faq_p {
  font-size: 1.6rem;
  font-family: inter, sans-serif;
  color: var(--tex-color-2);
  font-weight: 400;
  margin: 0;
}


.product_p-f {
  font-size: 1.6rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: var(--tex-color-2);
  font-weight: 600;
}

.cat_li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 139px;
}

.cat_img-b {
  display: flex;
  width: 300px;
  height: 360px;
  margin: 0;
}

.cat_img-s {
  display: flex;
  width: 139px;
  height: 132px;
  margin: 0;
}

.cat_p {
  font-size: 1.6rem;
  font-family: Philosopher, serif;
  color: var(--tex-color-2);
  font-weight: 700;

}

.fb_ttl1 {
  font-size: 3.2rem;
  font-family: Philosopher, sans-serif;
  text-align: center;
  color: var(--tex-color);
  font-weight: 300;
  padding-top: 9rem;
}

.fb_ttl2 {
  font-size: 2.4rem;
  font-family: inter, sans-serif;
  color: var(--tex-color);
  font-weight: 300;
  margin: auto;
}

.fb_ttl3 {
  font-size: 3.2rem;
  font-family: Philosoper, serif;
  color: var(--tex-color);
  font-weight: 400;
  font-style: italic;
  margin: 0.8rem 0;
}

.frm {
  font-size: 1.4rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: var(--tex-color);
  font-weight: 400;
}

.frm_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;

}

.frm_p-wh {
  font-size: 1rem;
  font-family: inter, sans-serif;
  color: var(--tex-color);
  font-weight: 400;
  text-align: left;
  padding: 0.5rem;
}

.frm_p-gr {
  font-size: 1rem;
  font-family: inter, sans-serif;
  text-align: center;
  color: var(--tex-color-2);
  font-weight: 400;
}

.faq_ttl-align {
  margin: 1.7rem;
}

.faq_ttl,
.rev_ttl {
  font-size: 2.8rem;
  font-family: Philosopher, serif;
  color: var(--tex-color-2);
  font-weight: 700;
  margin: 1.7rem;
  margin-top: 3rem;
}

.faq_li-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--tex-color);
  border-radius: 2rem;
  width: 30.1rem;
  height: 40.6rem;
  column-gap: 200px;
  list-style: none;
  margin-bottom: 3.5rem;
}

.faq_p {
  margin: 1.7rem;
}

.faq_img-align {
  display: block;
  margin: 4.8rem 10rem;
}

.faq_btn {
  margin-top: 0;
}

.faq_container {
  flex-direction: column;
  align-items: center;
}

.rev_ttl {
  padding: 0;
  margin: 0;
  width: 127px;
  height: 58px;
}

.cat_ul-s {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rev_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.rev_li-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tex-color);
  width: 30rem;
  border-radius: 2rem;
  margin: 0 0 1.8rem 0;
}

.rev_cont {
  display: flex;
  align-self: start;
  gap: 2.4rem;
  margin: 1.8rem 4.2rem 2.9rem 1.8rem;
}

.rev_img {
  width: 8rem;
  height: 8rem;
}

.rev_p {
  font-size: 1.4rem;
  font-family: inter, sans-serif;
  color: var(--tex-color-2);
  font-weight: 400;
  margin: 2.5rem 0.3rem 4rem 1.8rem;
}

.contacts {
  font-size: 1.6rem;
  font-family: Philosopher, serif;
  text-align: center;
  color: var(--tex-color);
  font-weight: 400;
}

.textarea {
  resize: none;
}